h1 {
  color: #ffffff;
  font-size: 2em;
}

.introductionSection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
}

.introductionRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: 0;
  padding: 30px;
  transition: opacity 2s ease;
}

.visible {
  opacity: 1;
}

.introductionLeft {
  flex: 1;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initialName {
  transition: opacity, margin 1.5s ease;
  margin-left: 200px;
}

.firstname {
  text-align: left;
  margin-left: 0;
}

.middlename {
  text-align: center;
  margin-left: 0;
}

.lastname {
  text-align: right;
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .introductionRight {
    justify-content: flex-start;
    padding: 8px 30px;
  }

  .introductionLeft {
    padding: 8px 30px;
  }

  .firstname {
    text-align: center;
  }

  .lastname {
    text-align: center;
  }

  h1 {
    font-size: 1.5em;
  }
}
