@value animationItem from "../../TextAnimation/TextAnimation.module.css";

.link {
    display: inline-block;
    transition: color 500ms;
}

.link:not(:first-child) {
    margin: 0 0 0 1.5rem;
}

.link span.animationItem {
    transform: translate3d(0, 0, 0);
}

.link:hover {
    color: var(--clr-accent-400);
}

.wrap {
    display: none
}

@media (max-width: 768px) {
    .wrap {
        display: inline;
    }

    .link span.animationItem {
        transform: translate3d(4em, 0, 0);
    }

    .link:not(:first-child) {
        margin: 2rem 0 0 0;
    }

    .link:hover {
        color: var(--clr-primary-400);
    }

}