.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  gap: 1.5rem;
  overflow: hidden;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: 6rem;
}

.name>span {
  white-space: nowrap;
}

.name>span:nth-child(2) {
  margin-left: 50px;
}

.name>span:last-child {
  margin-left: 125px;
}

@media (max-width: 1280px) {
  .home {
    flex-direction: column;
    justify-content: start;
    padding-top: 4rem;
  }

  .name {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  .name>span:nth-child(2) {
    margin-left: 0;
  }

  .name>span:last-child {
    margin-left: 0;
  }
}

@media (max-width: 512px) {
  .name {
    font-size: 3rem;
  }
}
