.firstname {
  text-align: left;
}

.middlename {
  text-align: center;
}

.lastname {
  text-align: right;
}

.staggeredName {
  margin-bottom: 35px;
}

.lineTop {
  margin-right: 30%;
  margin-bottom: 30px;
  border: 2px solid white;
}

.lineBottom {
  margin-left: 30%;
  margin-top: 30px;
  border: 2px solid white;
}

@media (max-width: 499px) {
  h1 {
    font-size: 100%;
  }
  .lineTop {
    margin-bottom: 10px;
  }

  .lineBottom {
    margin-top: 10px;
  }
}
