.introContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-out 500ms linear 3.5s 1 forwards;
    z-index: 20;
}

.introTitle {
    display: flex;
    flex-direction: column;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;

    }

}