.personalInformationContainer {
  display: flex;

  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: yellow;
}

.personalInformationItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #23263d;
  align-content: center;
  justify-content: space-around;
}
