@import "tailwindcss";

/* @font-face { */
/*   font-family: "itc-avant-garde-gothic"; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   font-display: swap; */
/*   src: url("/fonts/ITC Avant Garde Gothic CE Book.woff2") format("woff2"); */
/* } */
/**/
/* @font-face { */
/*   font-family: "itc-avant-garde-gothic"; */
/*   font-style: normal; */
/*   font-weight: 500; */
/*   font-display: swap; */
/*   src: url("/fonts/ITC Avant Garde Gothic Medium.woff2") format("woff2"); */
/* } */
/**/
/* @font-face { */
/*   font-family: "itc-avant-garde-gothic"; */
/*   font-style: normal; */
/*   font-weight: 700; */
/*   font-display: swap; */
/*   src: url("/fonts/ITC Avant Garde Gothic Bold.woff2") format("woff2"); */
/* } */
/**/
:root {
  --primary: #ffc83d;
  --secondary: #00a3ff;
  --accent: #ff007f;
  --neutral-dark: #0a0f1e;
  --neutral-light: #f5f5f5;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);

  --animate-grow-right: grow-right 500ms ease-out;
  --animate-grow-left: grow-right 500ms reverse;

  @keyframes grow-right {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }

    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

html,
body,
div#__next {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  background-color: var(--neutral-dark);
  color: var(--neutral-light);
  font-family: var(---font-itc-avant-garde), Helvetica, sans-serif;
  background-image: radial-gradient(circle,
      rgba(255, 255, 255, 0.1) 10%,
      transparent 20%);
  background-size: 10px 10px;
}

main {
  min-height: 100%;
}
