* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inder", sans-serif;
}

.home {
  overflow-x: hidden;
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1em;
  }
  .home {
    background-attachment: scroll;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  section {
    position: relative;
    width: 100%;
  }
}
